body {
	width: 600px;
	margin: auto;
	text-align: left;
	background-color: white;
	padding: 15px;
}

a {
    color: #4C9B45;
}

html {
    text-align: center;
    background-color: #346630;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    background-image: url('/static/compass.png');
    background-repeat: no-repeat;
    background-position: right top;
    height: 100%;
}

#reallystrong {
    color: red;
}

#signin_button {
    padding: 20px;
    text-align: center;
}

#map_canvas {
    height: 100%;
    width: 100%;
}

#container {
    position: absolute;
    bottom: 35px;
    left: 50px;
    width: 375px;
    padding: 10px;
    background-color: #FFFFFF;
}

#submenu {
    display: inline;
    font-size: x-small;
}

/* Palette from: http://www.colourlovers.com/palette/89057/Wanderlust */