{% extends "base.tmpl" %}

{% block title %}Account Deleted{% endblock %}
{% block topheader %}Account Deleted{% endblock %}

{% block content %}
<p>Account deleted.</p>
<p><a href="/profile">Back to your Profile</a></p>
<p><a href="{{ signout_url }}">Sign out</a></p>
{% endblock %}