{% extends "base.tmpl" %}

{% block content %}
		<p>Fantastic!  You've authorized map256 to get access to your account history.</p>
		<p>We're going out and learning all about where you've been.  It may take us just a moment to get everything ready for you! (Find out more at your <a href="/profile">profile</a>)</p>
		<p>To see what we've found so far, take a look at <a href="{{ map_url }}">your map</a>.</p>
{% endblock %}