{% extends "base.tmpl" %}

{% block title %}Error{% endblock %}
{% block topheader %}Error{% endblock %}

{% block content %}
		<p>Uh oh!  It looks like something's gone wrong behind the scenes.  The guilty parties are being poked with a sharp stick as we speak.</p>
		<p>Seeing this message a lot?  You can send hate mail to <a href="mailto:service@map256.com">service@map256.com</a>.</p>
{% endblock %}