<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<title>map256: View User</title>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript">
			var checkinPath = [
				{% for pt in datapoints %}
				new google.maps.LatLng({{ pt }}),
				{% endfor %}
			];

			var centerpt = new google.maps.LatLng({{ centerpt }});
		</script>
		<script type="text/javascript" src="/map256.js"></script>
	</head>
	<body style="margin:0px; padding:0px;" onload="initialize()">
		<div id="map_canvas" style="width: 100%; height: 100%;"></div>
		<div id="container" style = "position:absolute; bottom:35px; left:50px; width:375px; padding:10px; background-color:#FFFFFF">
			<span style = "font-size:16pt;"><a href="/">Map256</a></span>
			<span style = "font-size:9pt;">(<a href="/faq.html">FAQ</a>, <a href="/scoreboard">Scoreboard</a>)</span>
			<hr>
			<input type="button" onclick="toggle_markers()" value="Toggle markers">
			<input type="button" onclick="toggle_gradient()" value="Toggle recent-ness gradient">
			<hr>
			<span style = "font-size:9pt;">Oldest <input type="button" id="g_e" onclick="goto_earliest()" value="<<">
			<input type="button" id="g_p" onclick="goto_previous()" value="<">
			<input type="button" id="g_n" onclick="goto_next()" value=">">
			<input type="button" id="g_l" onclick="goto_latest()" value=">>"> Newest</span>
		</div>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-1636496-2']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
