<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="utf-8" />
    <title>map256: Profile</title>
    <link rel="stylesheet" href="stylesheet.css" />
	</head>
	<body>
		<h1><a href="/">map256</a>: Profile</h1>
		<p><a href="/authorize">Authorize a foursquare account</a></p>
		<ul>
{% for tuser in tusers %}
			<li><a href="/t/{{ tuser.twitter_username}}">{{ tuser.twitter_username}}</a></li>
{% endfor %}
		</ul>
		<p><a href="{{ sign_out_url }}">Sign out</a></p>
		<p>Comments, questions, concerns?  Check out the <a href="/faq.html">FAQ</a></p>
	</body>
</html>
