{% extends "base.tmpl" %}

{% block content %}
		<p>{{ nickname }}</p>
		<hr>
		<h2>Foursquare Accounts:</h2>
		<ul>
{% for foursquare_account in foursquare_accounts %}
{% if foursquare_account.twitter_username %}
			<li><a href="/t/{{ foursquare_account.twitter_username}}">{{ foursquare_account.twitter_username}}</a>
{% else %}
			<li><a href="/f/{{ foursquare_account.foursquare_id}}">{{ foursquare_account.foursquare_id}}</a>
{% endif %}
{% if foursquare_account.hide_last_values %}
			(<a href="/account_hide_toggle?acc_type=fsq&amp;fsq_id={{ foursquare_account.foursquare_id }}">show last 24hrs</a>)
{% else %}
			(<a href="/account_hide_toggle?acc_type=fsq&amp;fsq_id={{ foursquare_account.foursquare_id }}">hide last 24hrs</a>)
{% endif %}
			(<a href="/foursquare_account_delete?fsq_id={{ foursquare_account.foursquare_id }}">delete</a>)</li>
{% endfor %}
		</ul>
		<p><a href="/foursquare_authorization">Add a foursquare account</a></p>
		<hr>
		<h2>Twitter Accounts:</h2>
		<ul>
{% for twitter_account in twitter_accounts %}
			<li>
				<a href="/t/{{ twitter_account.screen_name }}">{{ twitter_account.screen_name }}</a>
{% if twitter_account.hide_last_values %}
						(<a href="/account_hide_toggle?acc_type=twitter&amp;twit_id={{ twitter_account.twitter_id }}">show last 24hrs</a>)
{% else %}
						(<a href="/account_hide_toggle?acc_type=twitter&amp;twit_id={{ twitter_account.twitter_id }}">hide last 24hrs</a>)
{% endif %}
			    (<a href="/twitter_account_delete?twitter_id={{ twitter_account.twitter_id }}">delete</a>)
			</li>
{% endfor %}
		</ul>
		<p><a href="/twitter_authorization">Add a Twitter account</a></p>
		<hr>
		<h2>Flickr Accounts:</h2>
		<ul>
{% for flickr_account in flickr_accounts %}
			<li>
				<a href="/fl/{{ flickr_account.nsid }}">{{ flickr_account.nsid }}</a>
{% if flickr_account.hide_last_values %}
						(<a href="/account_hide_toggle?acc_type=flickr&amp;flickr_id={{ flickr_account.nsid }}">show last 24hrs</a>)
{% else %}
						(<a href="/account_hide_toggle?acc_type=flickr&amp;flickr_id={{ flickr_account.nsid }}">hide last 24hrs</a>)
{% endif %}
                (<a href="/flickr_account_delete?flickr_id={{ flickr_account.nsid }}">delete</a>)
			</li>
{% endfor %}
		</ul>
		<p><a href="/flickr_authorization">Add a Flickr account</a></p>
		<hr>
		<p><a href="{{ signout_url }}">Sign out</a></p>
{% endblock %}